<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <time xsi:type="FastLocal"/>
  <variable name="OwinMessagePattern" value="${date:universalTime=False:format=HH\:mm\:ss} [${mdlc:item=RequestId}] [${level:uppercase=true:padding=-5}] [${logger:padding=-35}] ${message} ${exception}" />
  <variable name="MessagePattern" value="${date:format=HH\:mm\:ss} [${mdlc:item=RequestId}] [${level:uppercase=true:padding=-5}] [${logger:padding=-35}] ${message} ${exception}" />
  <targets>
    <target name="KlFileLog"
				  fileName="logs/${shortdate}.log"
				  xsi:type="File"
				  archiveFileName="logs/${shortdate}-{#}.log"
				  archiveNumbering="Sequence"
				  archiveAboveSize="104857600"
				  layout="${MessagePattern}"
			  />
    <target name="OwinLog"
				  fileName="logs/Owin/${shortdate}.log"
				  xsi:type="File"
				  archiveFileName="logs/Owin/${shortdate}-{#}.log"
				  archiveNumbering="Sequence"
				  archiveAboveSize="104857600"
				  layout="${OwinMessagePattern}"
			  />
    <target name="console" xsi:type="ColoredConsole" layout="${MessagePattern}"/>
  </targets>

  <rules>    
    <logger name="*" writeTo="console" />
    <logger name="TestCaseDiffer.Service.LoggingMiddleware" minlevel="Debug" writeTo="OwinLog" final="true"/>
    <logger name="TestCaseDiffer.Service.WindsorControllerActivator" minlevel="Debug" writeTo="OwinLog" final="true"/>
    <logger name="TestCaseDiffer.Service.Controllers.*" minlevel="Debug" writeTo="OwinLog">
      <filters>
        <when condition="true" action="Log" />
      </filters>
    </logger>
    <logger name="KL.*" minlevel="Trace" writeTo="KlFileLog" final="true"/>
  </rules>
</nlog>
